{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
<title>Upload File</title>
{% block content %}
    <div class="container">
    <div class="row">
    <div class="col col-md-auto text-center">
<h1>Photo Color Extractor</h1>
<form method="POST" enctype="multipart/form-data">
     {% for error in form.photo.errors %}
         <span style="color: red;">{{ error }}</span>
     {% endfor %}
    {{ render_form(form) }}

</form>

{% if file_url %}
<br>
<img src="{{ file_url }}">
{% endif %}
    </div>
    </div>
    </div>
{% endblock %}